body {
    font-family: system-ui, sans-serif;
}


.nav-item:hover {
    background-color: #FF6600;
    border-radius: 20px;
}
.nav-link.active {
    background-color: #FF6600;
     border-radius: 20px;
}

.avatar-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px;
}

.team-card {
    transition: all 0.3s ease-in-out;
}
.team-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.nav-text {
    display: inline;
}
/* Default Sidebar */
.sidebar {
    width: 250px;
    transition: all 0.3s;
}
.sidebar.collapsed {
    width: 70px;
}
.sidebar.collapsed .nav-text {
    display: none;
}
.sidebar.collapsed h3 {
    font-size: 0;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 70px; 
    }
    .sidebar .nav-text {
        display: none; 
    }
    .sidebar.expanded {
        width: 250px;
    }
    .sidebar.expanded .nav-text {
        display: inline;
    }
    .sidebar.expanded h3 {
        font-size: inherit; 
    }
}


.toast-success {
    background-color: #031701 !important;
    color: #fff !important;
}
.toast-error {
    background-color: #280101 !important;
    color: #fff !important;
}

.card-color-1 { background: #ffb3ba; color: #2c2c2c; }
.card-color-2 { background: #bae1ff; color: #2c2c2c; }
.card-color-3 { background: #ECFCCA; color: #2c2c2c; }
.card-color-4 { background: #FEE685; color: #2c2c2c; }
.card-color-5 { background: #dab6fc; color: #2c2c2c; }
